@import "App";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $secondaryFont;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  width: 65%;
  height: 60%;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px $secondaryFont;
  position: relative;
}

.title {
  width: 100%;
  height: 50px;
  margin-left: 15px;
  color: $mainFont;
  border: none;
  outline: none;
  font-size: 36px;
  font-weight: bold;

  &::placeholder {
    font-size: 36px;
    font-weight: bold;
    color: $tertiaryFont;
  }

}

.photoText {
  color: $tertiaryFont;
}

.description {
  width: 100%;
  margin-left: 15px;
  color: $secondaryFont;
  border: none;
  outline: none;
  font-size: 16px;
  margin-top: 10px;

  &::placeholder {
    color: $tertiaryFont;
    font-size: 16px;
  }
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 122, 255);
  color: #fff;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 30px;
  left: 40px;

  &:hover {
    background-color: #0149a1;
  }
}